@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    overflow: hidden;
}


@font-face {
    font-family: 'Sakuna';
    src: url('/fonts/SAKUNA.ttf') format('truetype');
    font-display: block;
}

@font-face {
    font-family: 'Japanese';
    src: url('/fonts/Japanese.ttf') format('truetype');
    font-display: block;
}

@theme {
    --font-sakuna: 'Sakuna', sans-serif;
    --font-japanese: 'Japanese', sans-serif;
    --font-quicksand: 'Quicksand', sans-serif;
    --primary-color: #1a1a1a;
    --secondary-color: #f9f9f9;
    --third-color: #4a5d23;
    --accent-color: #ffacd1;
}

@utility pre {
    @apply absolute top-[-20px]
}

@layer components {

    .fade-in {
            @apply absolute top-0 w-full h-[100px] z-50;
            background: linear-gradient(to top,rgba(0, 0, 0, 0) 0%, var(--primary-color) 100%)
        }
        
    .fade-out {
        @apply absolute bottom-0 w-full h-[100px] z-50;
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--primary-color) 100%)
    }
    
    .texture {
        @apply relative isolate before:absolute before:w-full before:h-full before:-inset-0 before:opacity-30 before:bg-cover before:bg-repeat-y before:bg-top before:bg-[url('/textures/texture.webp')] before:z-[-1] ;
    }

    main {
        @apply w-full min-h-dvh bg-(--primary-color) overflow-hidden;
    }

    nav {
        @apply z-50 w-full pointer-events-none flex flex-row justify-center fixed;
        
        #nav {
            @apply flex flex-row justify-between items-center w-full !px-10 !py-7 justify-self-center self-center;

            a {
                @apply flex flex-row pointer-events-auto items-center justify-center gap-1 text-white;

                img {
                    @apply w-8 h-8;
                }
            }
            
            ul {
                @apply flex flex-row items-center justify-center gap-5;

                li {
                    @apply list-none;

                    a {
                        @apply font-quicksand font-bold;

                        p {
                            @apply pointer-events-none
                        }
                    }
                }
            }
        }
    }

    #home {
        @apply flex flex-col justify-center items-center w-full min-h-dvh overflow-x-hidden overflow-y-hidden relative;

        .gradient-text {
            background: linear-gradient(0deg,rgb(224, 255, 158) 0%, rgba(129, 168, 71, 1) 50%, var(--third-color) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            filter: drop-shadow(5px 5px #899a79);
        }

        img {
            @apply absolute pointer-events-none selection:bg-transparent;
        }

        .left-leaf {
            @apply left-[-100px] top-[60vh] rotate-70 scale-120 ;
        }

        .right-leaf {
            @apply right-[-100px] top-[20vh] rotate-290 scale-140;
        }

        .tea-cup {
            @apply bottom-[-300px] scale-70;
        }
        
        h1 {
            @apply font-japanese font-bold text-9xl text-transparent tracking-[50px] !mr-[-50px];
        }

        .subtitle {
            @apply font-sakuna text-[#bbcfbb] !mt-[30px] text-2xl tracking-[20px] !mr-[-20px];
        }

        .subtext-container {
            @apply flex flex-col justify-center items-center;

            .animated-bt {
                @apply relative font-quicksand font-bold bg-transparent text-(--secondary-color) border-(--third-color) border-4 !p-2 rounded-lg cursor-pointer !mt-5 transition-colors duration-200 ease-linear z-10 overflow-hidden;
                box-shadow: 5px 5px  var(--secondary-color);
            }

            .animated-bt span {
                @apply relative z-10;
            }

            .button-bg {
                @apply absolute w-[20px] h-[20px] bg-(--third-color) z-1 rounded-[50%] pointer-events-none top-0 left-0 scale-0;
            }

            .animated-bt:hover {
                @apply border-(--secondary-color);
            }
        }

        .subtext {
            @apply font-quicksand tracking-[0] text-(--secondary-color) text-center text-2xl opacity-50 !mt-3 ;
        }

        
    }

    #about {
        @apply relative h-[100vh] w-full flex flex-row overflow-hidden;

        .side-text {
            @apply w-full h-full bg-(--primary-color) z-10 flex flex-col justify-center relative;
            box-shadow: 20px 0px 20px 20px  var(--primary-color);

            div {
                @apply absolute top-[50%] w-full h-full flex flex-col items-center text-left;

                p {
                    @apply text-(--secondary-color) font-quicksand text-left w-[90%] text-5xl;
                }
            }
        }

        .side-video {
            @apply w-full h-full z-5;

            canvas {
                @apply w-full h-full object-cover object-[30%_0%];
            }
        }
        
    }
}